<!-- Include the header section -->
<%- include("include/_header") %>
<!-- /Include the header section -->

<!-- Main Site -->
<main id="site-main">
  <div class="container">
    <!-- Box navigation for adding a new user -->
    <div class="box-nav d-flex justify-between">
      <a href="/add-user" class="border-shadow">
        <!-- Link/button to navigate to the "Add User" page -->
        <span class="text-gradient">New User<i class="fas fa-user"></i></span>
      </a>
    </div>

    <!-- Form for displaying and handling user data -->
    <form action="/" method="POST">
      <!-- Table for displaying user data -->
      <table class="table">
        <!-- Table header -->
        <thead class="thead-dark">
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>@Email</th>
            <th>Gender</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <!-- Include the show template for populating user data -->
          <%- include("include/_show") %>
        </tbody>
      </table>
    </form>
  </div>
</main>
<!-- /Main Site -->

<!-- Include the footer section -->
<%- include("include/_footer") %>
<!-- /Include the footer section -->

